<!-- Page Layout here -->
<div class="row">
    <div class="col l6 teal lighten-1 white-text">
        <!-- black page content -->
        <div class="left">
            <div>
                <h1 class="center-align"><a href="/">WordFlow</a></h1> 
                    <ul class="browser-default">
                        <li>Create great stories with inspiration from our writing prompts</li>
                        <li>Develop better writing habits using our 30 for 30 challenge</li>
                        <li>Connect with writers in you're town</li>
                        <li>Get and give feedback on your writing through our online forum</li>
                    </ul>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati facilis, sed natus tempore consectetur voluptates minus exercitationem sequi, soluta ex amet quae, necessitatibus culpa aut similique reprehenderit praesentium. Eaque!</p>
            </div>
        </div>
    </div>

    <div class="col l6 white lighten-5 white-text">
        <!-- white page content  -->
        {{!-- <div class="right">
    
        </div> --}}
    </div>  
</div>

<section class="row" id="overlay">
  <form action="/" method="POST" class="auth-form">
    <p class="input-field">
      <input type="email" name="email" placeholder="Email">
    </p>
    <p class="input-field">
      <input type="password" name="password" placeholder="Password">
    </p>
    <p class="input-field">
      <input type="submit" value="Sign In" class="btn">
    </p>
  </form>
  <p>New to WordFlow? <a href="/signup">Sign up now.</a></p>
</section>
