body {
    color: black;
}
/* .left {
    border: solid blue 2px;
    background: black;
} */
.left {
    /* border: solid grey 2px; */
    height: 100vh;
    text-align: center;
}

.right {
    /* border: solid grey 2px; */
    /* background: yellow; */
    height: 100vh;
    text-align: center;

}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 70px;
    font-weight: bold;
    /* text-align: center; */
}

a {
    text-decoration: none;
    color: black;
}

.btn {
    display: flex;
    justify-content: center;
}

p {
    color: black;
}

#overlay {
    position: fixed;
    display: block;
    width: 70%; /* cover 70% of the full width of the page */
    height: 80%; /* cover 80% of the full height of the page */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: rgba(0,0,0,0.5); Black background with opacity */
    z-index: 2; /* Specify stack order of elements */
    background: white;
    border-radius: 5px;
    cursor: pointer; /* add a pointer on hover */
} 

li {
    display: inline;
    border: solid black 4px;
}

header, footer {    
    display: flex;
    justify-content: center;
    border: solid blue 2px;
}

.main-content {
    height: 83vh;
}

.main-content p {
    text-align: center;
}

.prompt {
    height: 72vh;
}