<header>
    <ul>
        <li><a href="#">WordFlow</a></li>
        <li><a href="#">Directions</a></li>
        <li><a href="#">Notes</a></li>
        <li><a href="#">Meetups</a></li>
        <li><a href="#">Challenge</a></li>
    </ul>
</header>