{{!-- <header>
    <ul>
        <li><a href="#">WordFlow</a></li>
        <li><a href="#">Directions</a></li>
        <li><a href="/new">Notes</a></li>
        <li><a href="#">Meetups</a></li>
        <li><a href="#">Challenge</a></li>
    </ul>
</header>

href="/signin"  --}}