<header>
        <h6><a href="#">WordFlow</a></h6>
    <ul>
        <li><a href="#">Info</a></li>
        <li><a href="#">Notes</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Meetups</a></li>
        <li><a href="#">Challenge</a></li>
    </ul>
</header>
<section class="main-content">
    <p>Save to Notes</p>
    <p class="prompt">
        {{ compliment }}
    </p>
    <p>Tap the element for a new prompt</p>
</section>
<footer>
    <span>PROMPTS</span>
    <ul>
        <button type="button" id="narrative">narrative</button>
        <button type="button" id="persuasive">persuasive</button>
        <button type="button" id="news">news</button>
    </ul>
</footer>
       